{{ form_start(form) }}

    <div class="section-form">
    <h4>Description générale du produit</h4>
    <br/>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}

    <p><span class="yellowgreen"><i class="fas fa-exclamation-triangle"></i> 
    Les éléments textuels sont soumis a un algorithme de référencement. Veillez a bien choisir vos mots pour que ceux-ci soit juste et exacte pour le public
    </span>
    </div>
    
    <hr>

    <div class="section-form">
    <h4>Ajout des éléments</h4>
    {{ form_row(form.file) }}   
    {{ form_row(form.img1) }}
    {{ form_row(form.img2) }}
    {{ form_row(form.img3) }}

    <p><span class="yellowgreen"><i class="fas fa-exclamation-triangle"></i> Les éléments protégés par les droits d'auteurs doivent faire l'objet d'un fichier ( licence.txt )dans le produit. Cet éléments fournira des preuves sur l'autorisation de l'éléments protégé </span>
    </div>
    <hr>
    
    <div class="section-form">
    <h4>Information relatif au produit</h4>
    {{ form_row(form.price) }}
    {{ form_row(form.demo_link) }}
    {{ form_row(form.category) }}

    </div>


    {{ form_widget(form) }}
    <button class="btn-form form-button-product">{{ button_label|default('Confirmer') }}</button>
{{ form_end(form) }}

