{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container">
    <br/><br/>
    <h1>Our product</h1>
    
        {% for product in products %}

        <div class="card">
            <div class="card-header">
                {{ product.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ product.price }} €</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">see more</a>
            </div>
        </div>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
</div>
{% endblock %}
