{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<ul class="nav nav-pills justify-content-center category-nav">
    {% for category in categories %}
    <li class="nav-item">
        <a class="nav-link category-link-nav" href="{{ path('product_with_category', {'id': category.id}) }}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>

    <img src="img/head.jpg" alt="Web-Item-Market" style="width: 100%">
<br/>
<br/>

<!-- nEW SEARCH BAR --> 

<div class="container search-container">
{{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button class="btn-success product-button">{{ button_label|default('Rechercher') }}</button>
{{ form_end(searchForm) }}
</div>


    <!-- -------------------------------------------
            container-best-sell
    -------------------------------------------  -->
    <div class="container-best-sell col-lg-12">
        <div class="box-card">
            <h2 class="text-left"><i class="fa fa-file-text" aria-hidden="true"></i>  Nos meilleurs produits  </h2>
            <div class="row">
                {% for bestSell in bestSell %}
                    <div class="col-lg-3">
                        <!-- product card -->
                        <div class="card" style="width: 26rem;">
                            <img class="card-img-top" src="product/img/{{ bestSell.img1 }}"  alt="{{ bestSell.name }}">
                            <div class="card-body">
                                <h5 class="card-title-product">{{ bestSell.name }}</h5>
                                <p class="card-text">{{ bestSell.description }}</p>

                                <p class="yellowgreen"> <strong> {{ bestSell.price }} € </strong>  </p>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <p class="card-text"> {{ bestSell.numberSale}}  Vente </p>
                                    </div>

                                    <div class="col-lg-4">
                                        <a href="{{ path('product_show', {'id': bestSell.id}) }}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="{{path('order', { 'product': bestSell.id }  ) }}" class="btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product card -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end container-best-sell -->


    <!-- -------------------------------------------
            container-product-new
    -------------------------------------------  -->
    <div class="container-product-new col-lg-12">
        <div class="box-card">
            <h2 class="text-left"><i class="fa fa-file-text" aria-hidden="true"></i>  Nouveau produits  </h2>
            <div class="row">
                {% for newProduct in newProduct %}
                    <div class="col-lg-3">
                        <!-- product card -->
                        <div class="card" style="width: 26rem;">
                            <img class="card-img-top" src="product/img/{{ newProduct.img1 }}"  alt="{{ newProduct.name }}">
                            <div class="card-body">
                                <h5 class="card-title-product">{{ newProduct.name }}</h5>
                                <p class="card-text">{{ newProduct.description }}</p>

                                <p class="yellowgreen"> <strong> {{ newProduct.price }} € </strong>  </p>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <p class="card-text"> {{ newProduct.numberSale}}  Vente </p>
                                    </div>

                                    <div class="col-lg-4">
                                        <a href="{{ path('product_show', {'id': newProduct.id}) }}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="{{path('order', { 'product': newProduct.id }  ) }}" class="btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product card -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end container-product-new -->

    <!-- -------------------------------------------
                container Free Template
    -------------------------------------------  -->
    <div class="container-free col-lg-12">
        <div class="box-card">
            <h2 class="text-left"><i class="fa fa-file-text" aria-hidden="true"></i>  Template gratuit  </h2>
            <div class="row">
                {% for FreeProduct in FreeProduct %}
                    <div class="col-lg-3">
                        <!-- product card -->
                        <div class="card" style="width: 26rem;">
                            <img class="card-img-top" src="product/img/{{ FreeProduct.img1 }}"  alt="{{ FreeProduct.name }}">
                            <div class="card-body">
                                <h5 class="card-title-product">{{ FreeProduct.name }}</h5>
                                <p class="card-text">{{ FreeProduct.description }}</p>

                                <p class="yellowgreen"> <strong> {{ FreeProduct.price }} € </strong>  </p>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <p class="card-text"> {{ FreeProduct.numberSale}}  Vente </p>
                                    </div>

                                    <div class="col-lg-4">
                                        <a href="{{ path('product_show', {'id': FreeProduct.id}) }}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                                        <a href="{{path('order', { 'product': FreeProduct.id }  ) }}" class="btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product card -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end Container Free Template -->

        {# total items count #}

    <!-- <div class="count">
        { { pagination.getTotalItemCount }}
    </div>
    -->

    {# display navigation #}
    <div class="navigation navigation-block">
        {{ knp_pagination_render(pagination) }}
    </div>

</div>
{% endblock %}
