{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<div class="intro-section">
    <h1 class="text-center"> Decouvrez nos produits web </h1>
    <p class="text-center"> Librairie CSS, template, Plugin, theme wordpress,... </p>
</div>

<br/>

<ul class="nav nav-pills justify-content-center category-nav">
    {% for category in categories %}
    <li class="nav-item">
        <a class="nav-link category-link-nav" href="{{ path('product_with_category', {'id': category.id}) }}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
<br/>


<!-- nEW SEARCH BAR --> 

<div class="container">
{{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button class="btn-success">{{ button_label|default('Rechercher') }}</button>
{{ form_end(searchForm) }}
</div>


<div class="container">
    <br/><br/>
    <h1 class="text-center"><i class="fa fa-file-text" aria-hidden="true"></i>  Nos produits  </h1>
    <br/><br/>

    <!-- new product -->
    {% for product in pagination %}
    <div class="wrapper">
        {% if product.img1 != NULL %}
            <div class="product-img">
                <img src="product/img/{{ product.img1 }}"  alt="{{ product.name }}" height="420" width="100%">
            </div>
        {% endif %}

        <div class="product-info">
            <div class="product-text">
                <h1> {{ product.name }}</h1>
                <h2><strong>Vente : </strong>  <span class="yellowgreen"> {{ product.numberSale }} </span></h2>
                <p>{{ product.description }}</p>
            </div>

            <div class="product-price-btn">
                <p><span>{{ product.price }}</span>$</p>
            </div>

            <div class="product-button">
                    

                    <button type="button">
                        <a href="{{ path('product_show', {'id': product.id}) }}"> Détails</a>
                    </button>

                    <button type="button">
                        {%   if product.demoLink != NULL %}
                            <a href="{{ product.demoLink }}">Démo</a>
                        {% else %}
                            <p> Pas de démonstration.</p>
                        {%  endif  %}
                    </button>
            </div>

        </div>
    </div>
    {% else %}
        <tr>
            <td colspan="9">Pas de résultat actuellement.</td>
        </tr>
    {% endfor %}

        {# total items count #}

    <!-- <div class="count">
        { { pagination.getTotalItemCount }}
    </div>
    -->

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

</div>
{% endblock %}
