{% extends 'base.html.twig' %}

{% block title %} resultats de recherche{% endblock %}

{% block body %}
    <ul class="nav nav-pills justify-content-center category-nav">

    <!-- Dropdown Categories for media queries -->
    <li class="nav-item dropdown category-nav-mobile">
    <a class="nav-link dropdown-toggle category-nav-mobile-title" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Voir les catégories</a>
    <div class="dropdown-menu category-dropdown">
        {% for category in categories %}
            <a class="dropdown-item" href="{{ path('product_with_category', {'id': category.id}) }}">{{ category.name }}</a>
        {% endfor %}
    </div>
  </li>
    <!-- end dropdown for category -->

    {% for category in categories %}
        <li class="nav-item category-nav-desktop">
            <a class="nav-link category-link-nav" href="{{ path('product_with_category', {'id': category.id}) }}">{{ category.name }}</a>
        </li>
    {% endfor %}

    
</ul>

    <br/><br/>
    <div class="container">
        {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
            <button class="btn-success product-button">{{ button_label|default('Rechercher') }}</button>
        {{ form_end(searchForm) }}
    </div>

    <div class="container-best-sell col-lg-12">
        <div class="box-card">
                <h1 class="text-left"><i class="fa fa-file-text" aria-hidden="true"></i>  résultats de la recherche :   </h1>
            <div class="row">

                {% for product in pagination %}
                    <div class="col-lg-3">
                        <!-- product card -->
                        <div class="card" style="width: 26rem;">
                            <img class="card-img-top" src="../product/img/{{ product.img1 }}"  alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title-product">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>

                                <p class="yellowgreen"> <strong> {{ product.price }} € </strong>  </p>

                                <div class="row">
                                {% if product.price > 0 %}
                                    <div class="col-lg-7">
                                        <p class="card-text"> {{ product.numberSale}}  Vente </p>
                                    </div>
                                {% endif %}
                                    {% if product.price > 0 %}
                                    <div class="col-lg-4">
                                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="{{path('order', { 'product': product.id }  ) }}" class="btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  </a>
                                    </div>
                                    {% elseif product.price == 0 %}
                                    <div class="col-lg-6">
                                            <a href="{{ asset("product/" ~ product.file)  }}" 
                                                download>
                                                <button type="button" class="btn btn-success">Download product</button>
                                            </a>
                                    </div>
                                    <div class="col-lg-1">
                                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- end product card -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end container-best-sell -->



    <!-- Todo : Display category or search product -->

    {# total items count #}

    <!-- <div class="count">
        { { pagination.getTotalItemCount }}
    </div>
    -->

    {# display navigation #}
    <div class="navigation navigation-block">
        {{ knp_pagination_render(pagination) }}
    </div>

    </div>
{% endblock %}