{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

<ul class="nav nav-pills justify-content-center category-nav">
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link category-link-nav" href="{{ path('product_with_category', {'id': category.id}) }}">{{ category.name }}</a>
        </li>
        {% endfor %}
</ul>

<div class="show-page">

    <div class="row content-page">
        <div class="col-lg-6 offset-lg-1 content-bar">
            <div class="container">
                <h1 class="title-product-show"> {{ product.name }}</h1>
                <br/>
            </div>

            <div class="image-center container center block image-center">
                {% if product.img1 != NULL %}
                    <img class="card-img-top" src="../product/img/{{ product.img1 }}" alt="{{ product.name }}"
                        style=" width: 42%; height: 31%;">
                {% endif %}
            </div>

            <div class="container content-info">
                <br/>
                <br/>
                <h2 class="eur-text">{{ product.price }}<i class="fa fa-eur" aria-hidden="true"></i> <span class="eur-text-min">TTC </span></h2>
                <br/>
                <br/>
                <p> {{ product.content }} </p>
                <br/>
                <p>Création le {{ product.published ? product.published|date('d/m/Y') : '' }} </p>
                <br/>
                <br/>
            </div>

            <div class="container">
                <br/>

                <div class="container content-info">
                    {% if product.img2 != NULL %}
                        <img class="card-img-top" src="../product/img/{{ product.img2 }}" alt="{{ product.name }}"
                            style=" width: 32%; height: 20%;">
                    {% endif %}

                    {% if product.img3 != NULL %}
                        <img class="card-img-top" src="../product/img/{{ product.img3 }}" alt="{{ product.name }}"
                            style=" width: 32%; height: 20%;">
                    {% endif %}
                </div>
                <br/>

        
                <br/>
            </div>

        </div>

        <div class="col-lg-3  side-bar">
            <div class="side-bar-info">
            <br/>
            <h2 class="font3"> Caractéristique technique </h2>
            <br/>
            
                <p class="font6"> catégorie du produit : {{ product.category.name }}</p>
                <p class="font6"> Date de publication : {{ product.published ? product.published|date('d/m/Y') : '' }}</p>

                <p class="font6"><a href="{{ path('contact_seller', { 'idUser': product.user.id, 'id': product.id } ) }}"> Contacter le vendeur </a></p>
                <br/>
            </div>

            <div class="side-bar-info">
                <div class="row">
                    <div class="product-button col-lg-4">
                        <button type="button" class="padding-button">
                            {%   if product.demoLink != NULL %}
                                <a href="{{ product.demoLink }}">Démonstration</a>
                            {% else %}
                                <p> Pas de démonstration.</p>
                            {%  endif  %}
                        </button>
                    </div>
                    <br/><br/>

                    <div class="product-button col-lg-4">
                        <button type="button" class="padding-button">
                            <a href="{{ path('product_index') }}">Retour à la liste</a>
                        </button>
                    </div>
                </div>
            </div>



            <div class="side-bar-info">
                
                <p> Vente pour ce produit: {{ product.numberSale}} </p>
                
            </div>

            <div class="side-bar-info ">
                <p> Ajouter maintenant ce produit a votre collection, et créer de meilleurs choses</p>
                <a id="paybutton" href="{{ path('order', { 'product': product.id }  ) }}" class="bottom">
                    <div class="margin-block pay-product">
                        <h2 class="center"> Payer maintenant</h2>
                    </div>
                </a>
            </div>
            

                
            <div class="side-bar-info">
                <a href="{{ path('product_index') }}">Retour à la liste</a>
            </div>

        </div>
    </div>

</div> <!-- End DIV show-page-->
{% endblock %}