{% extends 'base.html.twig' %}

{% block title %}Produit Single{% endblock %}

{% block body %}
<div class="container">
    <h1>Produit : {{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ product.content }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ product.file }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ product.published ? product.published|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td><!-- { { product.updated ? product.updated|date('Y-m-d H:i:s') : '' }} --> 0</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>

            <tr>
                <th>Lien de demonstration</th>
                <td>{{ product.demoLink }}</td>
            </tr>

            <tr>
                <th>Nombre de vente</th>
                <td>{{ product.numberSale}}</td>
            </tr>
        </tbody>
    </table>

    <h3> Image 1 : </h3>
    {% if product.img1 != NULL %}
        <img class="card-img-top" src="img/{{ product.img1 }}" alt="{{ product.name }}"
             style=" width: 50%; height: 500px;">
        <p><!-- Todo --> {{ product.img1 }}</p>
    {% endif %}
    </br>
    </br>
    </br>



    <a href="{{ path('product_index') }}">Retour à la liste</a>
    <br/>

    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
    <br/>

    {{ include('product/_delete_form.html.twig') }}
    <br/>
</div>
{% endblock %}
