{# templates/emails/contact.html.twig #}

<h3>Question en rapport avec votre produit {{ product.name }} sur Web Item market </h3>
<br/><br/>
 objet du message : {{ Subject }}
 Mail du Client : {{ client }}


<hr><br/>
Voici son message <br/><br/>
{{ Message }}<br/>

<br/><br/>
Répondez lui directement par mail avec son email : {{ client }}

