<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Web Item Market" />
        <meta name="keywords" content="Web Item Market" />

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />

        <title>{% block title %}Web Item Market {% endblock %}</title>

        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">

            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
                  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
                  crossorigin="anonymous">

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
                  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
                  crossorigin="anonymous">

            <!-- Favicons -->
            <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('css/template.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/search.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/card.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/slideshow.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />

        {% endblock %}

    </head>

    <body>

        <!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="{{ path('product_index') }}">Home</a></li>
						<li>
							<a href="{{ path('product_index') }}">Nos produits ( drop ) </a>
							<ul>
								<li><a href="#">Produits gratuits</a></li>
								<li><a href="#">Nouveautés</a></li>
								<li>
									<a href="#">Theme CSS</a>
									<ul>
										<li><a href="#">Dark CSS</a></li>
										<li><a href="#">Light CSS</a></li>
										<li><a href="#">CSS elements</a></li>
									</ul>
								</li>
								<li><a href="#">Autres</a></li>
							</ul>
						</li>
						<li><a href="{{ path('contact') }}">Contact</a></li>
						<li><a href="{{ path('article_index') }}">Blog</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                            {% if is_granted('ROLE_USER') %}
                            <!--<li><a href="{ { path('become_author') }}">Devenir vendeur</a></li>-->
                            {% else %}
                            {% endif %}
                        {% else %}
                            <li><a href="{{ path('app_login') }}"> Connexion</a></li>
                            <li><a href="{{ path('app_register') }}">Inscription</a></li>
                        {% endif %}
					</ul>

                    <ul class="nav navbar-nav pull-right dropdown-main-menu">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                                <div class="img-rounded profile-img"></div>
                                    <i class="fas fa-user-circle"></i>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_USER') %}
                                <br/>
                                <h6 class="size4 white-grey"> Utilisateur </h6>
                                <!--
                                <li>
                                    <a href="{ { path('dashboard') }}">Mon compte</a>
                                </li>
                                -->
                                <li>
                                    <a href="{{ path('product_index') }}">Accueil</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ path('app_logout') }}">Logout</a>
                                </li>
                                <li>
                                    <a href="{{ path('my_order') }}">Mes commandes</a>
                                </li>
                                {% endif %}

                                {% if is_granted('ROLE_AUTHOR') %}
                                <hr class="hr-deepskyblue">
                                <br/>
                                <h6 class="size4 white-grey"> Dashboard Auteur </h6>

                                <li>
                                    <a href="{{ path('product_new') }}">Ajouter un produit</span></a>
                                </li>
                                <li>
                                    <a href="{{ path('author_product') }}">Mes produits</span></a>
                                </li>
                                <li>
                                    <a href="{{ path('my_sell') }}">Mes Ventes</span></a>
                                </li>

                                <li>
                                    <a href="{{ path('money_managment') }}">Finance</span></a>
                                </li>

                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                <hr class="hr-deepskyblue">
                                <br/>
                                <h6 class="size4 white-grey"> ADMIN Function </h6>
                                <li>
                                    <a href="{{ path('statistic_admin') }}"><i class="fa fa-line-chart" aria-hidden="true"></i>  Statistique</a>
                                </li>
                                <li>
                                    <a href="{{ path('product_verified') }}"><i class="fab fa-product-hunt"></i>  Administration produits</a>
                                </li>
                                <li>
                                    <a href="{{ path('ticket_handler') }}"><i class="fas fa-check-square"></i>  Gestion des tickets</a>
                                </li>
                                <li>
                                    <a href="{{ path('article_index_admin') }}"><i class="fas fa-th"></i>  Le blog</a>
                                </li>

                                <li>
                                    <a href="{{ path('category_handler') }}"><i class="fa fa-file-text" aria-hidden="true"></i>  Gestion des catégories</a>
                                </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('app_login') }}">Connection</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_register') }}">Inscription</a>
                                    </li>
                                {% endif %}
                                
                                <br/><br/>
                            </ul>
                        </li>
                    </ul>

				</nav>
			<!-- endNAV -->

        {% block body %}
            <!-- Content page -->
        {% endblock %}
        
        <!-- TODO: Footer -->

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                    crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                    crossorigin="anonymous"></script>

            <!-- Popper.js for dropdown menus -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js" integrity="sha512-UzofO1xJCmOl9xNdbqkMIaaW5raQxAE8WyMa977+mY2fT001KydNwvqSTJlHy70edjCN0nb20BXIgBgO/oj6MQ==" crossorigin="anonymous"></script>
            <!-- End For require dropdown menus -->

            <!-- Script SweetAlert -->
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>

            <!-- integrate vue.js --> 
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

            <!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
            <link rel="stylesheet" href="{ { asset('css/style.css') }}" />

            {% endblock %}
    </body>
</html>
