<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Web Item Market" />
        <meta name="keywords" content="Web Item Market" />

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />

        <title>{% block title %}Web Item Market {% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
            <!-- Favicons -->
            <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />

            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Web Item Market</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Boutique <span class="sr-only">(current)</span></a>
                    {% if app.user %}
                        <li class="nav-item">
                                <a class="nav-link" href="">Mon compte</a>
                        </li>
                    {% elseif is_granted('ROLE_ADMIN') %}

                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                                <a class="nav-link" href="">Mes produits</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connection</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>

                    {% endif %}

                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                    {% endif %}
                    </div>
                </div>
        </nav>

        {% block body %}


        {% endblock %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
