<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statistic_admin') }}"><span class="red">Stats page</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_verified') }}"><span class="red">Verifier les produits</span></a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_AUTHOR') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_new') }}"><span class="yellowgreen">Créer un produit</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('my_product') }}"><span class="yellowgreen">Mes Produits</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('my_sell') }}"><span class="yellowgreen">Mes Vente</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('my_wallet') }}"><span class="yellowgreen">Mon portefeuille</span></a>
                </li>

            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('my_order') }}">Mes commandes</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<br/>
<br/>