{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <div class="centered">
            <h1> Dashboard </h1>
            <br/>
        </div>

        <h2> Retirer vos fonds  </h2>
        <a href="https://connect.stripe.com/express/oauth/authorize?
        client_id=ca_HYxhtqNA8QfeeDMrU0lvmTIvBbDap4y9
        &stripe_landing=connect
        &state={STATE_VALUE}
        &suggested_capabilities[]=transfers
        &stripe_user[email]={{ user.email }}">Se connecter a Stripe  </a>
        <hr/>
        <br/>



        <h4> Fonds disponible : {{ userPayout }} € </h4>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Confirmer') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
