{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- display products that customers have purchased, available for download -->

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">

        <a href="{{ path('product_new') }}" class="btn btn-primary">Ajouter un produit</a><br/>
        <hr>
        <h2> Produit actuellement en vente : </h2>
        <br/>

    </div>
    
        {% if products > 0  %}
        
            <div class="box-card">
                <div class="row">
                {% for product in products %}

                    <div class="col-lg-3">
                        <!-- product card -->
                        <div class="card" style="width: 26rem;">
                            <img class="card-img-top" src="../product/img/{{ product.img1 }}"  alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title-product">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>

                                <p class="yellowgreen"> <strong> {{ product.price }} € </strong>  </p>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <p class="card-text"> {{ product.numberSale}}  Vente </p>
                                    </div>

                                    <div class="col-lg-4">
                                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="{{path('product_edit', { 'id': product.id }  ) }}" class="btn btn-info"> Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product card -->
                    </div>
                {% endfor %}
                </div>
            </div>

        {% else %}
            <!-- <img class="card-img-top" src="product/img/{ { product.img1 }}"  alt="{ { product.name }}" height="420" width="100%">-->
                <tr>
                    <td colspan="9">Pas d'article en vente</td>
                </tr>
            
        {% endif %}
        <br/><br/>
{% endblock %}
