{% extends 'base.html.twig' %}

{% block title %}Blog Admin{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}


    <div class="container">


        <div class="centered">
            <h1> <i class="fa fa-caret-right" aria-hidden="true"></i>  Gestion des articles </h1>
            <br/>
        </div>
        <hr/>

        <div class="container-card-tab-title">  <h2> <i class="fa fa-file-text" aria-hidden="true"></i>     Article </h2> </div>
            <div class="product-button">
                <button type="button">
                    <a href="{{ path('article_new') }}">Créer un article  <i class="fa fa-file-text" aria-hidden="true"></i></a>
                </button>
            </div>
            <br/>
                    {% for article in articles %}
                    <div class="container-card-tab">
                        <h2> Article {{ article.id }}</h2>
                        <h2> Nom : {{ article.title }} </h2>
                        <p> {{ article.description }}</p>
                        <p>{{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}</p>

                        <div class="row">
                            <div class="product-button">
                                <button type="button">
                                    <a href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
                                </button>
                            </div>

                             <div class="product-button">
                                <button type="button">
                                    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
                                </button>
                            </div>

                        </div>
                    </div>
                    <br/><br/>
                    {% endfor %}
    </div> <!-- end container -->
    <br/><br/>
    {% endblock %}
