{% extends 'base.html.twig' %}

{% block title %}Blog Admin{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}


        <h2> Gestion des articles </h2>
        <br/>

    <div class="product-button">
        <button type="button">
            <a href="{{ path('article_new') }}">Créer un article  <i class="fa fa-file-text" aria-hidden="true"></i></a>
        </button>
    </div>
    <br/>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Image ( lien ) </th>
                <th>Créer le</th>
                <th>voir plus</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.img1 }}</td>
                    <td>{{ article.createdAt ? article.createdAt|date('d m Y') : '' }}</td>
                    <td>
                        <div class="product-button">
                            <button type="button">
                                <a href="{{ path('article_show', {'id': article.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="product-button">
                            <button type="button">
                                <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </button>
                        </div>
                    </td>
                    <td>


                        {{ include('article/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">pas de résultats</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
