{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <div class="container-white">
            <div class="container">
                <h2> Résumé des ventes </h2>
                <div class="row">
                    <br/><br/>
                    <div id="columnchart_values" style="width: 1200px; height: 350px;"></div>
                    <br/><br/><br/>
                </div>

                <div class="row">
                    <div class="col-lg-4 offset-lg-1">
                        <div class="grey-card">
                            <h1> Revenus généré </h1>
                            <p> nombre d'euros généré avec l'ensemble des produits </p>
                            <p class="number"> {{ MoneyGenerated }} € </p>
                        </div>
                    </div>

                    <div class="col-lg-4 offset-lg-1">
                        <div class="grey-card">
                            <h1> Produits publié </h1>
                            <p> Nombre de produits publié et accepté par la modération (lenght produit author ) </p>
                            <p class="number"> {{ authorProductNumber }} </p>
                        </div>
                    </div>

                    <div class="col-lg-4 offset-lg-1">
                        <div class="grey-card">
                            <h1> Vente ce mois ci </h1>
                            <p> Revenu en euros pour le mois xx/xx/xx  ( sum total produit author * 0.80 les 30 derniers jours ) </p>
                            <p class="number"> {{ CAAuthorForMonth }} € </p>
                        </div>
                    </div>

                    <div class="col-lg-4 offset-lg-1">
                        <div class="grey-card">
                            <h1> Argent disponible</h1>
                            <p> Somme disponible pour le retrait </p>
                            <p class="number"> {{ user.availablePayout }} € </p>
                        </div>
                    </div>
                </div>

                <br/><br/>


                 <br/><br/><br/><br/><br/>
                <p> vous souhaiteriez mieux vendre ?
                    <a href="{{ path('help_author') }}"><span class="yellowgreen"><i class="fa fa-question-circle" aria-hidden="true"></i> Aide pour auteurs</span></a>
                </p>
            </div>
            <br/><br/>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            
                <script type="text/javascript">
                    google.charts.load("current", {packages:['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable(
                            [
                            ["Date", "Vente", { role: "style" } ],
                            ["J-30", {{ ArrayForGraph['j-30'] }}, "#9ACD32"],
                            ["J-29", {{ ArrayForGraph['j-29'] }}, "#9ACD32"],
                            ["J-28", {{ ArrayForGraph['j-28'] }}, "#9ACD32"],
                            ["J-27", {{ ArrayForGraph['j-27'] }}, "#9ACD32"],
                            ["J-26", {{ ArrayForGraph['j-26'] }}, "#9ACD32"],
                            ["J-25", {{ ArrayForGraph['j-25'] }}, "#9ACD32"],
                            ["J-24", {{ ArrayForGraph['j-24'] }}, "#9ACD32"],
                            ["J-23", {{ ArrayForGraph['j-23'] }}, "#9ACD32"],
                            ["J-22", {{ ArrayForGraph['j-22'] }}, "#9ACD32"],
                            ["J-21", {{ ArrayForGraph['j-21'] }}, "#9ACD32"],
                            ["J-20", {{ ArrayForGraph['j-20'] }}, "#9ACD32"],
                            ["J-19", {{ ArrayForGraph['j-19'] }}, "#9ACD32"],
                            ["J-18", {{ ArrayForGraph['j-18'] }}, "#9ACD32"],
                            ["J-17", {{ ArrayForGraph['j-17'] }}, "#9ACD32"],
                            ["J-16", {{ ArrayForGraph['j-16'] }}, "#9ACD32"],
                            ["J-15", {{ ArrayForGraph['j-15'] }}, "#9ACD32"],
                            ["J-14", {{ ArrayForGraph['j-14'] }}, "#9ACD32"],
                            ["J-13", {{ ArrayForGraph['j-13'] }}, "#9ACD32"],
                            ["J-12", {{ ArrayForGraph['j-12'] }}, "#9ACD32"],
                            ["J-11", {{ ArrayForGraph['j-11'] }}, "#9ACD32"],
                            ["J-10", {{ ArrayForGraph['j-10'] }}, "#9ACD32"],
                            ["J-9", {{ ArrayForGraph['j-9'] }}, "#9ACD32"],
                            ["J-8", {{ ArrayForGraph['j-8'] }}, "#9ACD32"],
                            ["J-7", {{ ArrayForGraph['j-7'] }}, "#9ACD32"],
                            ["J-6", {{ ArrayForGraph['j-6'] }}, "#9ACD32"],
                            ["J-5", {{ ArrayForGraph['j-5'] }}, "#9ACD32"],
                            ["J-4", {{ ArrayForGraph['j-4'] }}, "#9ACD32"],
                            ["J-3", {{ ArrayForGraph['j-3'] }}, "#9ACD32"],
                            ["J-2", {{ ArrayForGraph['j-2'] }}, "#9ACD32"],
                            ["J-1", {{ ArrayForGraph['j-1'] }}, "#9ACD32"],
                            ["Maintenant", {{ ArrayForGraph['j-0'] }}, "#9ACD32"]
                        ]
                    );

                    var view = new google.visualization.DataView(data);
                    view.setColumns([0, 1,
                                    { calc: "stringify",
                                        sourceColumn: 1,
                                        type: "string",
                                        role: "annotation" },
                                    2]);

                    var options = {
                        title: "Vos ventes pour les derniers jours",
                        width: 1200,
                        height: 350,
                        bar: {groupWidth: "95%"},
                        legend: { position: "none" },
                        backgroundColor: '#f7f7f7',
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                    chart.draw(view, options);
                }
    </script>
{% endblock %}
