{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <h2> Dashboard {{ user.email }} </h2>
        <br/>


        <h2> Produits à vérifier : </h2>
        <p> {% dump noVerifiedProduct %}   </p>

        {% if noVerifiedProduct > 0  %}
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Téléchargement</th>
                    <th scope="col">Voir plus</th>
                    <th scope="col">Vérifier</th>
                </tr>
                </thead>
                {% for noVerifiedProduct in noVerifiedProduct %}
                    <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ noVerifiedProduct.name }}</td>
                        <td>{{ noVerifiedProduct.description }}</td>
                        <td>{{ noVerifiedProduct.price}}</td> 
                        {% dump "product/" ~ noVerifiedProduct.file %}
                        <td>
                            <a href="{{ asset("product/" ~ noVerifiedProduct.file)  }}" 
                            download>
                            <button type="button" class="btn btn-success">Download product ({{ noVerifiedProduct.file }})</button>
                            </a>
                        </td><!-- Todo -->
                        <td><a href="#{#  path('product_show', {'id': product.id}) #}" class="btn btn-primary">voir plus</a></td><!-- Todo -->
                        <td>
                            <a href="{{ path('app_dashboard_product_verified', { 'id' : noVerifiedProduct.id } ) }}">
                                <button type="button" class="btn btn-info">Vérifier</button><br/>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}

    </div>

{% endblock %}
