{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <div class="centered">
            <h1> Dashboard </h1>
            <br/>
        </div>

        <h2> Statistique sur la place de marché </h2>
        <hr/>
        <br/>

        <h3> Nombre de produits en vente : {{ ProductForSell }}</h3>
        <h3> Nombre de produits en attente de vérification : {{ ProductForVerified }}</h3>
        <br/>
        <h3> Nombre de commande effectué : {{ countOrder }}</h3>
        <br/>
        <h3> Total d'utilisateurs inscrits : {{ countMember }}</h3>
        <h3> Nombre d'administrateurs : {{ countAdmin }}</h3>
        <h3> Nombre d'utilisateurs : {{ countUser }}</h3>
        <h3> Nombre d'auteurs : {{ countAuthor }} </h3>
        <br/>
        <!-- Todo -->
        <hr/>
        <h3> % des utilisateurs auteurs  </h3>
        <br/>
        <h3> Croissance des commandes depuis le mois précédent </h3>
        <br/>
    </div>

{% endblock %}
