{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">

        <div class="centered">
            <h1> Statistique général sur la place de marché </h1>
            <br/>
        </div>
        <hr/>

        <div class="row">

            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2> Produits </h2> </div>

                    <div class="card-content">
                        <p> Produits en vente : {{ ProductForSell }}</p>
                        <p> Produits en attente de vérification : {{ ProductForVerified }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2> Commandes </h2> </div>

                    <div class="card-content">
                        <p> Commande effectué : {{ countOrder }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2> Utilisateurs </h2> </div>

                    <div class="card-content">
                        <p> Total d'utilisateurs inscrits : {{ countMember }}</p>
                        <p> Administrateurs : {{ countAdmin }}</p>
                        <p> Utilisateurs : {{ countUser }}</p>
                        <p> Auteurs : {{ countAuthor }} </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2> Blog </h2> </div>

                    <div class="card-content">
                        <p> Article de blog : {{ countArticle }} </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--
    Todo :

     % des utilisateurs auteurs
     Croissance des commandes depuis le mois précédent
     Derniére sauv
     
     -->
{% endblock %}
