{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">


        <!-- ----------------------------------------------------------------------------------------------------------
                                               General Stats
        ----------------------------------------------------------------------------------------------------------- -->
        <div class="centered">
            <h1> <i class="fa fa-caret-right" aria-hidden="true"></i>  Statistique général sur la place de marché </h1>
            <br/>
        </div>
        <hr/>

        <div class="row">
        <!-- graph -->
            <br/><br/>
            <div id="columnchart_values" style="width: 1200px; height: 350px;"></div>
            <br/><br/><br/>



            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load("current", {packages:['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                    var data = google.visualization.arrayToDataTable(
                        [
                        ["Date", "Vente", { role: "style" } ],
                        ["J-30", {{ ArrayForGraph['j-30'] }}, "#9ACD32"],
                        ["J-29", {{ ArrayForGraph['j-29'] }}, "#9ACD32"],
                        ["J-28", {{ ArrayForGraph['j-28'] }}, "#9ACD32"],
                        ["J-27", {{ ArrayForGraph['j-27'] }}, "#9ACD32"],
                        ["J-26", {{ ArrayForGraph['j-26'] }}, "#9ACD32"],
                        ["J-25", {{ ArrayForGraph['j-25'] }}, "#9ACD32"],
                        ["J-24", {{ ArrayForGraph['j-24'] }}, "#9ACD32"],
                        ["J-23", {{ ArrayForGraph['j-23'] }}, "#9ACD32"],
                        ["J-22", {{ ArrayForGraph['j-22'] }}, "#9ACD32"],
                        ["J-21", {{ ArrayForGraph['j-21'] }}, "#9ACD32"],
                        ["J-20", {{ ArrayForGraph['j-20'] }}, "#9ACD32"],
                        ["J-19", {{ ArrayForGraph['j-19'] }}, "#9ACD32"],
                        ["J-18", {{ ArrayForGraph['j-18'] }}, "#9ACD32"],
                        ["J-17", {{ ArrayForGraph['j-17'] }}, "#9ACD32"],
                        ["J-16", {{ ArrayForGraph['j-16'] }}, "#9ACD32"],
                        ["J-15", {{ ArrayForGraph['j-15'] }}, "#9ACD32"],
                        ["J-14", {{ ArrayForGraph['j-14'] }}, "#9ACD32"],
                        ["J-13", {{ ArrayForGraph['j-13'] }}, "#9ACD32"],
                        ["J-12", {{ ArrayForGraph['j-12'] }}, "#9ACD32"],
                        ["J-11", {{ ArrayForGraph['j-11'] }}, "#9ACD32"],
                        ["J-10", {{ ArrayForGraph['j-10'] }}, "#9ACD32"],
                        ["J-9", {{ ArrayForGraph['j-9'] }}, "#9ACD32"],
                        ["J-8", {{ ArrayForGraph['j-8'] }}, "#9ACD32"],
                        ["J-7", {{ ArrayForGraph['j-7'] }}, "#9ACD32"],
                        ["J-6", {{ ArrayForGraph['j-6'] }}, "#9ACD32"],
                        ["J-5", {{ ArrayForGraph['j-5'] }}, "#9ACD32"],
                        ["J-4", {{ ArrayForGraph['j-4'] }}, "#9ACD32"],
                        ["J-3", {{ ArrayForGraph['j-3'] }}, "#9ACD32"],
                        ["J-2", {{ ArrayForGraph['j-2'] }}, "#9ACD32"],
                        ["J-1", {{ ArrayForGraph['j-1'] }}, "#9ACD32"],
                        ["Aujourd\'hui", {{ ArrayForGraph['j-0'] }}, "#9ACD32"]
                    ]
                    );
                    // ArrayForGraph['j-1'] = 1 {{ ArrayForGraph['j-1'] }}

                    var view = new google.visualization.DataView(data);
                    view.setColumns([0, 1,
                                    { calc: "stringify",
                                        sourceColumn: 1,
                                        type: "string",
                                        role: "annotation" },
                                    2]);

                    var options = {
                        title: "CA de la plateforme pour les 30 derniers jours",
                        width: 1200,
                        height: 350,
                        bar: {groupWidth: "95%"},
                        legend: { position: "none" },
                        backgroundColor: '#f7f7f7'
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                    chart.draw(view, options);
                }
            </script> 

        </div>



        <div class="row">
            <!-- -------------------
                    Product
            -------------------- -->
            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2> <i class="fa fa-tags" aria-hidden="true"></i>    Produits </h2> </div>

                    <div class="card-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Produits en vente :</th>
                                <td>{{ ProductForSell }}</td>
                            <tr>
                                <th scope="row"><i class="fa fa-caret-right" aria-hidden="true"></i>  Produits en attente de vérification</th>
                                <td>{{ ProductForVerified }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- -------------------
                   Order
            -------------------- -->
            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2> <i class="fa fa-archive" aria-hidden="true"></i>    Commandes  </h2> </div>

                    <div class="card-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Commande effectué :</th>
                                <td>{{ countOrder }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- -------------------
                      User
            -------------------- -->
            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2>  <i class="fa fa-user" aria-hidden="true"></i>    Utilisateurs</h2> </div>

                    <div class="card-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Total d'utilisateurs inscrits :</th>
                                <td>{{ countMember }}</td>
                            </tr>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Administrateurs : </th>
                                <td>{{ countAdmin }}</td>
                            </tr>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Utilisateurs :</th>
                                <td>{{ countUser }}</td>
                            </tr>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Auteurs :</th>
                                <td>{{ countAuthor }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- -------------------
                      Blog
            -------------------- -->
            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2>  <i class="fa fa-file-text" aria-hidden="true"></i>     Blog </h2> </div>

                    <div class="card-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Article de blog : </th>
                                <td>{{ countArticle }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <!-- -------------------
                     Ticket
            -------------------- -->
            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2>  <i class="fa fa-file-text" aria-hidden="true"></i>     Ticket </h2> </div>

                    <div class="card-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Ticket Ouvert : </th>
                                <td>{{ countTicketOpen }}</td>
                            </tr>

                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i>  Ticket Fermé : </th>
                                <td>{{ countTicketClose }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

        <!-- ----------------------------------------------------------------------------------------------------------
                                                        Graph
        ----------------------------------------------------------------------------------------------------------- -->
        <div class="centered">
            <h1> <i class="fa fa-caret-right" aria-hidden="true"></i>  Graphique </h1>
            <br/>
        </div>
        <hr/>

        <!-- -------------------
                      User
         -------------------- -->
        <div class="col-lg-8">
            <div class="container-card" style="height: 450px">
                <div class="card-title">  <h2>  <i class="fa fa-user" aria-hidden="true"></i>    Utilisateurs</h2> </div>

                <div class="card-content">
                    <div id="chart_div"><!-- JS Google graph --> </div>
                </div>
            </div>
        </div>

        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawChart() {

                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                data.addRows([
                    ['admin', {{ countAdmin }}],
                    ['auteur', {{ countAuthor }}],
                    ['utilisateur', {{ countUser }}]
                ]);

                // Set chart options
                var options = {'title':'Proportions utilisateur',
                    'width':600,
                    'height':350};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>

        <hr/>


        <!-- ----------------------------------------------------------------------------------------------------------
                                              Admin Statistique
        ----------------------------------------------------------------------------------------------------------- -->
        <div class="centered">
            <h1> <i class="fa fa-caret-right" aria-hidden="true"></i>  Métrique administrateur </h1>
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container-card">
                    <div class="card-title">  <h2>  <i class="fa fa-file-text" aria-hidden="true"></i>     Métrique ADMIN </h2> </div>

                    <div class="card-content">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i> Dernière Sauvegarde </th>
                                <td>{% if saveDate is defined %} {{ saveDate }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i> Montant à reverser aux auteurs actuellement </th>
                                <td> {% if currentAvailablePayout is defined %}{{ currentAvailablePayout }} {% endif %}€</td>
                            </tr>
                             <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i> Solde Disponible sur WebItemMarket</th>
                                <td> [API paypal] €</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                    <div class="container-card">
                        <div class="card-title">  <h2>  <i class="fa fa-file-text" aria-hidden="true"></i> CashFlow application </h2> </div>

                        <div class="card-content">
                            <table class="table table-hover">
                                <tbody>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i> TT Ventes des produits admin </th>
                                <td> {% if orderAdminEur is defined %} {{ orderAdminEur }} {% endif %}€</td>
                            </tr>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i> TT commissions généré par les auteurs </th>
                                <td> {% if totalCommissions is defined %}{{ totalCommissions }} {% endif %}€</td>
                            </tr>
                            <tr>
                                <th scope="row"> <i class="fa fa-caret-right" aria-hidden="true"></i> CA Total Application( produit admin + commissions )</th>
                                <td> {% if winWithApplication is defined %}{{ winWithApplication }} {% endif %}€</td>
                            </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>

        <hr/>
        <!--
        Todo :

         % des utilisateurs auteurs
         Croissance des commandes depuis le mois précédent
         Derniére sauv

         -->
    </div> <!-- end container -->




{% endblock %}
