{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- display products that customers have purchased, available for download -->

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <br/><br/>
        <h2> Dashboard {{ user.email }} </h2>
        <br/>


        <h2> Le ticket n°{{ ticket.id }} </h2>
        <br/>
        <hr>
        {{ ticket.name }}<br/>
        {{ticket.subject }} </br>
        {{ ticket.message }}</br>
        {{ticket.status }}</br>

        {% if ticket.status == 0 %}
         répondre a ce ticket :
        {% endif %}


    </div>



{% endblock %}
