{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}

    <div class="content-page">
          <div class="container">

            <div class="#">
              <a id="paybutton" href="{{ path('redirectStripe', { 'product': product.id } ) }}" class="bottom"><p class="cart">
              <button class="big-button-pay">Payer avec Stripe </button></p>
              </a>

            </div>
            

          <!-- PAYPAL BUTTON -->
          <script src="https://www.paypal.com/sdk/js?
          client-id=AeoM0EQ3G02PdSFOIPtFsejsDfq4UzfXyXyiUUA7g3AgB3txTnYQjQ4lMOXz4ZMEVVEnsiiIzoNeAtrO"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
          </script>

          <div id="paypal-button-container"></div>

          <!-- Add the checkout buttons, set up the order and approve the order -->
          <script>
            paypal.Buttons({
              createOrder: function(data, actions) {
                return actions.order.create({
                  purchase_units: [{
                    amount: {
                      value: '0.01'
                    }
                  }]
                });
              },
              onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                  alert('Transaction completed by ' + details.payer.name.given_name);
                });
              }
            }).render('#paypal-button-container'); // Display payment options on your web page
          </script>
          <br/>
            <br/>
          
      </div>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
      var stripe = Stripe('{{ stripe_public_key }}');
      //CODE A EXECUTER SI APPUI SUR BOUTON DE PAIEMENT 
      jQuery(document).ready(function() {
          $("#paybutton").click(function() {
              stripe.redirectToCheckout({
                sessionId: '{{ CHECKOUT_SESSION_ID }}'
                // Make the id field from the Checkout Session creation API response
                // available to this file, so you can provide it as parameter here
                // instead of the {{CHECKOUT_SESSION_ID}} placeholder.

                // id: cs_test_M07MtvAhxVT9zraohsSTnZKMCRUZnooh6m5IUELox1o3PEVTKOIDbgRj
                // payment_intent: "pi_1Gu2j2KDC0w6oO18KMyI53f9"
                
              }).then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, display the localized error message to your customer
                // using `result.error.message`.
              });

              if (result.paymentIntent.status === 'succeeded'){
                alert('paiement reussi');
              }



          });
        });
</script>
     
  

{% endblock %}