{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">
        <br/><br/>
        <h2 class="major"><span>Nos articles de blog</span></h2>
        <section class="box blog">
        {% for article in pagination %}
        <!-- Blog -->			
            <div>
                <div class="row">
                    <div class="col-12 col-12-medium">
                        <div class="content">

                            <!-- Featured Post -->
                                <article class="box post">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <header>
                                                <h5><a class="blue" href="#">{{ article.title }}</a></h5>
                                                <p class="blog-description">{{ article.description }}</p>
                                                
                                                <ul class="meta">
                                                    <li class="icon fa-clock clock-icon">{{ article.createdAt ? article.createdAt|date('d m Y') : '' }}</li>
                                                    <!--<li class="icon fa-comments"><a href="#">8</a></li>-->
                                                </ul>
                                            </header>
                                        </div>

                                            <div class="col-lg-3">
                                                <a href="#" class="image featured"><img src="../article/img/{{ article.img1 }}" alt="" /></a>
                                                <a href="{{ path('article_show', {'id': article.id}) }}" class="button">Continuer la lecture</a>
                                            </div>
                                    </div> 
                                </article>

                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
        {% endfor %}
        </section>

            <br/>

        <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
