{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">
        <h1>Nos articles</h1>
        <br/>

        {% for article in pagination %}
        
        <!---------- -->

        <div class="row container-blog">
                <div class="col-lg-2">

                    <img class="card-img" src="../article/img/{{ article.img1 }}" alt="Card image cap" height="100%" width="100%">
                </div>

                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 class="card-title-blog align-self-center">{{ article.title }}</h5>
                        </div>
                        <div class="col-lg-2">
                            <div class="blog-index-button">
                                <button type="button">
                                    <a href="{{ path('article_show', {'id': article.id}) }}"> Voir l'article </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr class="green-hr">
                    <p class="card-text"> {{ article.description }}</p>
                    <p class="card-text"><small class="text-muted">publié le {{ article.createdAt ? article.createdAt|date('d m Y') : '' }}</small></p>
                </div>
        </div>
        <br/><br/>
        {% endfor %}

            <br/>

        <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
