{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">
        <h1>Nos articles</h1>

        {% for article in articles %}
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../article/img/{{ article.img1 }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <p class="card-text"><small class="text-muted">publié le {{ article.createdAt ? article.createdAt|date('d m Y') : '' }}</small></p>

                    <div class="product-button">
                        <button type="button">
                            <a href="{{ path('article_show', {'id': article.id}) }}"> Détails </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <br/>
            <hr/>
        {% else %}
            <h2> Pas d'article pour le moment.</h2>
        {% endfor %}
    </div>
{% endblock %}
