{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <br/><br/>
        <img class="card-img-top blog-single-image" src="../article/img/{{ article.img1 }}" alt="{{ article.title }}">
        <br/><br/><br/>
        <h1 class="blog-single-title">{{ article.title }}</h1>
        <div class="container">
            <p class="article-content"> {{ article.content }}</p>

            <p class="blog-single-date"> le {{ article.createdAt ? article.createdAt|date('d m Y') : '' }}</p>
        </div>

        <div class="back-to-list-blog-show">
            <button type="button">
                <a href="{{ path('article_index') }}">Retour à la liste</a>
            </button>
        </div>

    </div>
{% endblock %}
