{% extends 'base.html.twig' %}

{% block title %}Article Show{% endblock %}

{% block body %}
    <h1>Article</h1>

    <img class="card-img-top" src="../article/img/{{ article.img1 }}" alt="{{ article.title }}"
         style=" width: 50%; height: 500px;">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Img1</th>
                <td>{{ article.img1 }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
