{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- display products that customers have purchased, available for download -->

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">

        <a href="{{ path('product_new') }}" class="btn btn-primary">Ajouter un produit</a><br/><br/>
        <h5 class="normal-txt"> produit en vente : <span class="yellowgreen number-big"> {{ products|length }} </span></h5>
        <hr>
        <h3> Produit actuellement en vente : </h3>
        <br/>
    
        {% if products > 0  %}
                {% for product in products %}
                        <div class="card w-100">
                            <div class="card-header">
                                Produit en vente
                            </div>
                            <div class="card-body row">
                                <div class="col-lg-7">
                                    <h5 class="card-title ">{{ product.name }}</h5>
                                    <img class="w-20" src="../product/img/{{ product.img1 }}" alt="{{ product.name }}" width="95%" height="60%">
                                </div>
                                <div class="col-lg-4">
                                    <br>
                                    <p class="card-text">{{ product.description }}</p>
                                    <a href="#" class="btn btn-primary">Voir le produit dans la boutique</a>
                                </div>
                            </div>
                        </div> 
                {% endfor %}

        {% else %}
            <!-- <img class="card-img-top" src="product/img/{ { product.img1 }}"  alt="{ { product.name }}" height="420" width="100%">-->
                <tr>
                    <td colspan="9">Pas d'article en vente</td>
                </tr>
            
        {% endif %}
        <br/><br/>
    </div>
{% endblock %}
